# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Environment files
.env

# Editor directories and files
.vscode/
*.swp

# Python testing
.pytest_cache/

# MLflow runs/artifacts
mlruns/
mlflow/

# Temporary
tmp/
